@font-face {
    font-family: YekanBakhBold ;
    src: url(../../fonts/YekanBakhBold.woff);
}

@font-face {
    font-family: YekanBakhMedium ;
    src: url(../../fonts/YekanBakhMedium.woff);
}

@font-face {
    font-family: YekanBakhHeavy;
    src: url(../../fonts/YekanBakhHeavy.woff);
}