@font-face {
  font-family: YekanBakhBold;
  src: url(../../fonts/YekanBakhBold.woff);
}
@font-face {
  font-family: YekanBakhMedium;
  src: url(../../fonts/YekanBakhMedium.woff);
}
@font-face {
  font-family: YekanBakhHeavy;
  src: url(../../fonts/YekanBakhHeavy.woff);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: YekanBakhHeavy;
  transition: all 0.2s;
}

.header-top {
  width: 1200px;
  margin: auto;
  padding: 20px 15px 0 15px;
  font-size: 10px;
}
.header-top svg {
  width: 18px;
  color: red;
}
.header-top div {
  display: flex;
  margin-bottom: 5px;
}
.header-top a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 100;
  color: blue;
}

.header-top h3:last-child {
  color: red;
}

select {
  margin-right: 10px;
  width: 40px;
  height: 20px;
}

header {
  width: calc(100vw - 2rem);
  margin: auto;
  background-color: #f0f4f7;
  padding: 1rem 0.4rem 0 0.4rem;
  border: solid 1px rgb(239, 231, 231);
  position: relative;
}
header img {
  width: 200px;
}
header .header {
  display: flex;
  justify-content: space-between;
}
header .header-ozv a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 100;
  color: red;
}
header .header-ozv > a {
  width: 130px;
  height: 30px;
  padding: 5px 20px;
  background-color: #fff;
  border: solid 1px #ccc;
}
header .header-ozv > a:hover {
  background-color: #eeeeff;
}
header .header-ozv p {
  font-size: 12px;
  padding: 5px 10px;
}
header .header-ozv p a {
  font-size: 12px;
}
header .header-ozv p a:hover {
  color: #6f6f6f;
  transition: all 0.2s;
}
header nav ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}
header nav ul a {
  text-decoration: none;
  font-size: 12px;
  font-weight: 100;
  display: block;
  width: auto;
  padding: 4px 8px;
  border: solid 1px rgb(239, 231, 231);
  background-color: #fff;
  color: #666;
}
header nav ul a:hover {
  background-color: #eeeeff;
  color: #000;
}

.header-buttom {
  width: calc(100VW - 2REM);
  margin: auto;
}
.header-buttom div:first-child {
  width: 100%;
  background-color: #e46f00;
  padding: 0.5rem 2rem;
  display: flex;
  flex-direction: column;
}
.header-buttom div:first-child input {
  width: 100%;
  height: 2.2rem;
  border: solid 1px #666;
  margin: 1rem 0;
  border-radius: 11px;
  border: none;
}
.header-buttom div:first-child p {
  font-size: 12px;
  color: #fff;
  text-align: center;
}
.header-buttom div:first-child select {
  width: 100%;
  height: 2.2rem;
  border: solid 1px #666;
  color: #666;
  margin: 1rem 0;
  margin-bottom: 0;
  border-radius: 11px;
  border: none;
}
.header-buttom div:first-child a {
  text-decoration: none;
  font-size: 10px;
  font-weight: 100;
  color: #fff;
  padding: 10px;
  background: rgba(109, 56, 5, 0.5450980392);
  border: solid 1px #666;
  width: 60px;
  height: 35px;
  text-align: center;
  border-radius: 11px;
}
.header-buttom div:first-child a:hover {
  background-color: rgba(57, 29, 3, 0.5450980392);
}
.header-buttom div:last-child {
  width: 100%;
  background-color: #f0f4f7;
  display: flex;
  flex-wrap: wrap;
  padding: 10px 1rem 0 1rem;
  border: solid 1px rgb(239, 231, 231);
}
.header-buttom div:last-child a {
  text-decoration: none;
  font-size: 11px;
  font-weight: 100;
  color: #555;
  width: auto;
  margin-left: 33px;
}
.header-buttom div:last-child a:first-child {
  display: flex;
  align-items: center;
  border-left: solid 1px #ddd;
  width: 120px;
}
.header-buttom div:last-child #two {
  border-left: solid 1px #ddd;
  width: 150px;
}
.header-buttom div:last-child svg {
  width: 22px;
}

.main {
  width: calc(100vw - 2rem);
  margin: auto;
  border: solid 1px rgb(239, 231, 231);
  padding: 1em 1rem;
}

aside {
  width: 100%;
  margin: auto;
}

.aside-one {
  width: 100%;
}
.aside-one div:first-child {
  width: 100%;
  height: 2.2rem;
  background-color: #e46f00;
  display: flex;
  align-items: center;
  padding-right: 10px;
  font-size: 13px;
  color: #fff;
  border: solid 1px #666;
}
.aside-one .aside-one- {
  width: 100%;
  height: 1.9rem;
  background-color: #f0f4f7;
  border: solid 1px #dfe4e8;
  padding-right: 10px;
  font-size: 10px;
  display: flex;
  align-items: center;
}
.aside-one div:last-child {
  width: 100%;
  padding: 10px;
  border: solid 1px #dfe4e8;
}
.aside-one div:last-child h2 {
  font-size: 14px;
}
.aside-one div:last-child a {
  text-decoration: none;
  font-size: 12px;
  font-weight: 100;
  color: #e46f00;
  margin-left: 3px;
}
.aside-one div:last-child a:hover {
  color: #333;
}
.aside-one div:last-child p {
  font-size: 12px;
  color: #666;
}

.aside-two {
  width: 100%;
}
.aside-two div {
  width: 100%;
  height: 2.2rem;
  background-color: #e46f00;
  display: flex;
  align-items: center;
  padding-right: 10px;
  font-size: 13px;
  color: #fff;
  border: solid 1px #666;
}
.aside-two .aside-two-one li {
  list-style-type: none;
  width: 100%;
  height: 2.2rem;
  background-color: #f0f4f7;
  border: solid 1px #dfe4e8;
  padding-right: 10px;
  display: flex;
  align-items: center;
}
.aside-two .aside-two-one li a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 100;
  color: #555;
}
.aside-two .aside-two-one li:hover {
  background-color: #fbfbff;
}
.aside-two .aside-two-two li {
  list-style-type: none;
  width: 100%;
  height: 1.8rem;
  border: solid 1px #dfe4e8;
  padding-right: 10px;
  display: flex;
  align-items: center;
}
.aside-two .aside-two-two li a {
  text-decoration: none;
  font-size: 12px;
  font-weight: 100;
  color: #555;
}
.aside-two .aside-two-two li:hover {
  background-color: #f0f4f7;
}
.aside-two ul:last-child li {
  list-style-type: none;
  width: 100%;
  height: 2.2rem;
  background-color: #f0f4f7;
  border: solid 1px #dfe4e8;
  padding-right: 10px;
  display: flex;
  align-items: center;
}
.aside-two ul:last-child li a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 100;
  color: #555;
}
.aside-two ul:last-child li:hover {
  background-color: #fbfbff;
}

.aside-third {
  width: 100%;
}
.aside-third img {
  width: 100%;
}

main {
  margin: auto;
}
main div:first-child {
  display: flex;
  display: flex;
  align-items: center;
}
main div:first-child a {
  text-decoration: none;
  font-size: 12px;
  font-weight: 100;
  color: rgba(102, 102, 102, 0.6666666667);
}
main div:first-child a:hover {
  color: #000;
}
main div:first-child svg {
  width: 18px;
  color: #e46f00;
  margin: 0 10px;
}
main div:first-child p {
  font-size: 14px;
}
main .main-two {
  width: 100%;
  padding: 1rem 2rem;
  background-color: #dfe4e8;
  border: solid 1px #dadce1;
}
main .main-two p {
  font-size: 16px;
  color: red;
}
main .main-three {
  width: 100%;
  padding: 0.5rem 10px;
  background-color: #fff5c7;
  display: flex;
}
main .main-three p {
  font-size: 12px;
}
main .main-three a {
  text-decoration: none;
  font-size: 12px;
  font-weight: 100;
  color: blue;
}
main .main-three span {
  margin: 0 4px;
}
main .main-three p:first-child {
  margin-left: 10px;
}
main .cards {
  width: 100%;
  border: solid 1px rgb(239, 231, 231);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-size: 12px;
  padding: 10px;
  gap: 1rem;
}
main .cards a {
  text-decoration: none;
  font-size: 12px;
  font-weight: 100;
  color: #6f6f6f;
}
main .cards a:hover {
  color: #000;
  transition: all 0.02s;
}
main .cards a:last-child {
  color: #e46f00;
}
main .cards img {
  width: 100%;
}
main .next-page {
  display: flex;
  background-color: #f0f4f7;
  padding: 10px 1rem;
  border: solid 1px rgb(239, 231, 231);
}
main .next-page a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 100;
  color: #fff;
  padding: 5px;
  background-color: #e46f00;
  margin-right: 5px;
  border: 1px solid #be5d02;
  border-radius: 5px;
}

footer {
  width: calc(100% - 2rem);
  margin: auto;
}
footer .footer-top {
  width: 100%;
  background-color: #e46f00;
  padding: 1rem;
}
footer .footer-top input {
  width: 100%;
  height: 40px;
  border-radius: 11px;
  border: none;
}
footer .footer-top button {
  padding: 6px;
  border-radius: 10px;
  border: solid 1px #a05004;
  background-color: #c25f03;
  color: #fff;
  margin-top: 0.5rem;
  cursor: pointer;
}
footer .footer-top button:hover {
  background-color: #a05004;
}
footer .footer {
  padding: 1rem;
}
footer .footer div {
  margin-top: 1.5rem;
}
footer .footer ul {
  list-style-type: none;
}
footer .footer h1 {
  font-size: 20px;
}
footer .footer a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 100;
  color: #333;
  display: flex;
  align-items: center;
  padding: 5px;
}
footer .footer svg {
  width: 14px;
  color: #e46f00;
}
footer .footer div:last-child p a {
  color: blue;
  width: 100px;
}
footer .footer .number {
  font-size: 22px;
  width: 144px;
  background-color: rgb(158, 228, 219);
  border-radius: 22px;
}
footer .footer .insta h3 {
  background: rgb(73, 89, 208);
  color: #fff;
  padding: 2px;
  margin-left: 2px;
}
footer .footer .insta img {
  width: 40px;
}

@media (min-width: 768px) {
  .header-top {
    width: calc(100vw - 2rem);
    margin: auto 1rem;
    display: flex;
    justify-content: space-between;
  }
  header {
    width: calc(100vw - 2rem);
    margin: auto 1rem;
  }
  header img {
    width: 155px;
  }
  nav {
    position: absolute;
    top: 0.9rem;
    right: 25%;
    width: 20rem;
  }
  nav li {
    margin-bottom: 1px;
  }
  .header-buttom {
    width: calc(100vw - 2rem);
    margin: auto 1rem;
  }
  .header-buttom div:first-child {
    flex-direction: row;
    align-items: center;
    padding-left: 5rem;
  }
  .header-buttom div:first-child input {
    width: 300px;
  }
  .header-buttom div:first-child select {
    width: 300px;
    margin: auto;
  }
  .header-buttom div:first-child p {
    margin: 0 10px;
  }
  .header-buttom div:first-child a {
    margin: auto;
    margin-left: 4rem;
  }
  .main {
    width: calc(100vw - 2rem);
    display: flex;
  }
  .main aside {
    width: 25%;
    margin-top: 0;
  }
  .main main {
    width: 75%;
    margin-right: 0.5rem;
  }
  .main .cards {
    grid-template-columns: repeat(4, 1fr);
  }
  footer .footer-top input {
    width: 400px;
  }
  footer .footer-top button {
    margin: 0 1rem;
  }
  footer .footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}

/*# sourceMappingURL=style.css.map */
